.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.posts {
  max-width: 700px;
  margin: 5rem auto 0;

  a {
    display: block;
    & + a {
      margin-top: 2rem;
      padding-top: 2rem;
    }
    strong {
      display: block;

      font-size: 1.75rem;
      font-weight: bold;
      color: var(--heading);
      & + strong {
        margin-top: 1rem;
        color: var(--body);
        font-size: 1.125rem;
      }
    }

    .info {
      margin-top: 1rem;
      display: flex;
      gap: 3rem;
      font-size: 1rem;
      color: var(--info);
    }
  }
}
